html, body
{
  height: 100%;
  margin: 0;
}

body
{
 background-image: url("background.jpg");
 background-size: cover;
 background-position: center;
 min-height: 100vh;
 display: grid;
 place-content: center;
}

#logo
{
    width: 20px;
    opacity:40%
}

.login_div
{
    text-align: center;
    margin:10%;
	background: rgba(189, 222, 231, 0.95);
    float: none;border-radius: 15px;
    padding: 20px;  
}

.container
{
    margin-left: auto;
    margin-right: auto;
}
